:root {
    font-family: "Open Sans", sans-serif;
    font-size: 16px;
    font-optical-sizing: auto;
    margin: 0;
    padding: 0;
    --background-default: #f5f4f0;
    --border-primary: #d9d9d9;
    --text-primary: #1b1b1b;
    --text-secondary: #333333;
    --text-tertiary: #696969;
    --text-headline: #e1624f;
    --accent-blue: #0c51a7;
    --accent-orange: #E95E10;
    --accent-pink: #E5245E;
    --accent-purple: #591B98;
}

body {
    background-color: var(--background-default);
    padding: 5rem;
    max-width: 1140px;
    margin: 0 auto;
}

h1 {
    font-size: 2.25rem;
    font-weight: bold;
    color: var(--text-primary);
    line-height: 1.1;
}

h2 {
    font-size: 2rem;
    font-weight: bold;
    color: var(--text-secondary);
    line-height: 1.2;
}

h3 {
    font-size: 1.75rem;
    font-weight: bold;
    color: var(--text-secondary);
    line-height: 1.3;
}

img {
    border-radius: 1.75rem;
    width: 100%
}

.headline {
    font-weight: bold;
    color: var(--text-headline);
}

p {
    font-weight: 500;
    line-height: 1.5;
    color: var(--text-secondary);
}

.subtitle {
    font-style: italic;
    color: var(--text-primary);
    text-align: center;
}

hr {
    margin: 2.5rem 0;
}

ul li:nth-child(1) {
    color: var(--accent-blue);
    font-weight: 600;
    line-height: 1.5;
}

ul li:nth-child(2) {
    color: var(--accent-pink);
    font-weight: 600;
    line-height: 1.5;
}

ul li:nth-child(3) {
    color: var(--accent-orange);
    font-weight: 600;
    line-height: 1.5;
}

footer p {
    color: var(--text-tertiary);
    text-align: center;
    font-size: 0.85rem;
    margin-bottom: 2rem;
}

footer a {
    color: var(--text-primary);
    text-align: center;
    font-size: 0.85rem;
    font-weight: 600;
    margin-bottom: 2rem;
    text-decoration: none;
}